.bg-base-background-10 {
	background-color: #0e0f14;
}
.bg-base-background-1 {
	background-color: var(--color-base-background-2);
}
.bg-base-background-2 {
	background-color: var(--color-base-background-4);
}
.text-base-icon {
	color: var(--color-base-icon);
}
.text-high-emphasis {
	color: var(--color-high-emphasis);
}
.ring-2 {
	border: 1px solid var(--color-ring);
}
.text-green-text {
	color: var(--color-green-text);
}
.bg-green-text {
	background-color: color-mix(
		in oklab,
		var(--color-green-text) 16%,
		transparent
	);
}
.text-ancent-text {
	color: var(--color-accent-blue);
}
.text-med-emphasis{
	color: var(--color-high-emphasis);
}
.text-base-color {
	color: #819c9c;
}
.text-red-text {
	color: var(--color-red-text);
}
.border-ancent-blue {
	color: var(--color-accent-blue);
}
